<style>
    .modal-content {
      background-color: #212121
    }
  </style>
  
  <!-- More Info -->
  <div class="modal fade" id="Modal-MoreInfo-{{ item.id }}"
       tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">
            <!-- -->
            {{ item.name }}
          </h5>
          <button type="button" class="close"
                  data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ item.description }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">Close
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Purchase Confirm -->
  <div class="modal fade" id="Modal-PurchaseConfirm-{{ item.id }}"
       tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">
            {{ item.name }}
          </h5>
          <button type="button" class="close"
                  data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {{ purchase_form.hidden_tag() }}
            <h4 class="text-center">
              Are you sure you want to buy {{ item.name }} for {{ item.price }}$ ?
            </h4>
            <br>
            <h6 class="text-center">
              By clicking Purchase, you will purchase this item.
            </h6>
            <br>
            <input id="purchased_item" name="purchased_item" type="hidden" value="{{item.name}}">
            {{ purchase_form.submit(class="btn btn-outline-success btn-block") }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--insert item-->
  <div class="modal" id='Modal-insert' tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Item</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
            <form action="{{ url_for('insert') }}" method='POST'>
              <div class="form-group">
                <label for='text'>name</label>
                <input type="text" class="form-control" id='name' name='name'  placeholder="item name" >
              </div>
              <div class="form-group">
                <label for='price'>price</label>
                <input type="number" class="form-control" id='price' name='price'  placeholder="123" >
              </div>
              <div class="form-group">
                <label for='barcode' >barcode</label>
                <input type="number" class="form-control" id='barcode' name='barcode' placeholder="12345678" >
              </div>
              <div class="form-group">
                <label for='description' >description</label>
                <input type="text" class="form-control" id='description' name='description'  placeholder="item descript" >
              </div>
              <div >
                <input type="submit" value='Done' class="btn btn-success"  >
              </div>
            </form>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>